{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JNB Promo Inc</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/home_m.css' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="nav title_nav ">
            <!-- <li class="nav-item">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}", height="30", alt="logo">
                </a>
            </li> -->
            <li class="nav-item navbar-brand">
                <a class="nav-link active " height="40" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item navbar-brand">
                <a class="nav-link" height="60" href="{% url 'goods' %}All/">Products</a>
            </li>
           
            <li class="nav-item navbar-brand">
                <a class="nav-link " height="60" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
        <div class="form-inline m-auto search-title">
            <form method="post" class="w-100 my-2 search_form">
                {%csrf_token%}
                {% if goodid %}
                <input type="text" class="border_radius search_form_input" placeholder="Search for the Products You Need Here" name="goodid" value="{{goodid}}">
                {% else %}
                <input type="text" class="border_radius search_form_input" placeholder="Search for the Products You Need Here" name="goodid" value="{{ERROR}}">
                {% endif %}
                <button class="btn btn-outline-secondary search_form_button" id="searchOrderId" type="submit">search</button>
            </form>
        </div>

    </nav>

    <div class="container">
        <div id="main" >
            <form method="post">
                {%csrf_token%}
                <div class="title row">
                <div class="col-lg-3">
                    <div class="sidebar text-center">
                        {% if res.category %}
                        <input type="hidden" class="sidebar_title" name="category" id="category" value={{res.category}} readonly="readonly">
                        {% else %}
                        <input type="hidden" class="sidebar_title" name="category" id="category" value='All' readonly="readonly">
                        {% endif %}
                    </div>
                </div>
                <div class="w-100">
                    <div class="row w-100 goods_no_margin">
                        <div class="cardspad w-100 row goods_no_margin">
                            <div class="w-100 text-left">
                                <label>Key Words Search</label>
                            </div>
                            <div class="w-100">
                                <input type="text" class="w-100" placeholder="Key words" value="{{res.key_word}}" name="key_word" id="key_word">
                            </div>
                            <div class="w-100 text-left">
                                <label>Price</label>
                            </div>
                            <div class="w-50">
                                <input type="text" class="w-100" placeholder="Price From $" value="{{res.price_from}}" name="price_from" id="price_from">
                            </div>
                            <div class="w-50">
                                <input type="text" class="w-100" placeholder="Price To $" value="{{res.price_to}}" name="price_to" id="price_to">
                            </div>
                            
                            <div class="w-100">
                                <select id="sort" name="sort" class="w-100">
                                    <option value="default">Default Sorting</option>
                                    {% if res.sort == "laster" %}
                                    <option value="laster" selected>Sort by laster</option>
                                    {% else %}
                                    <option value="laster">Sort by laster</option>
                                    {% endif %}

                                    {% if res.sort == "price_up" %}
                                    <option value="price_up" selected>Sort by price:low to high</option>
                                    {% else %}
                                    <option value="price_up">Sort by price:low to high</option>
                                    {% endif %}

                                    {% if res.sort == "price_down" %}
                                    <option value="price_down" selected>Sort by price:high to low</option>
                                    {% else %}
                                    <option value="price_down">Sort by price:high to low</option>
                                    {% endif %}
                                </select>
                            </div>

                            <div class="w-100">
                                <input type="submit" class="w-100" name="more_search" id="more_search" value="Search">
                            </div>
                        </div>
                        <div class="cardspad w-100 row goods_no_margin">
                            <div class="w-100 text-right row goods_no_margin">
                                <div class="w-75 sidebar_title text-left">
                                    ALL {{res.allNum}} results, {{res.allPage}} pages
                                </div>
                                <div class="w-25 text-right">
                                    {% if res.page_index %}
                                    <input type="text" class="sidebar_title" name="page_index" id="page_index" value='{{res.page_index}}' readonly="readonly">
                                    {% else %}
                                    <input type="text" class="sidebar_title" name="page_index" id="page_index" value='now 1 page' readonly="readonly">
                                    {% endif %}
                                </div>
                                
                            </div>
                            
                            <div class="w-100 m-auto">
                                <div class="fa-pull-right">
                                    <nav aria-label="Page navigation example goods_pagination_padding">
                                        <ul class="pagination  goods_pagination_padding">
                                            <input type="submit" class="page-item page-link" name="page_index_previous" id="page_index_previous" value='<<' readonly="readonly">
                                            {% if res.page_5 %}
                                            <input type="submit" class="page-item page-link" name="page_index_0001" id="page_index_0001" value='{{res.page_1}}' readonly="readonly">
                                            <input type="submit" class="page-item page-link" name="page_index_0002" id="page_index_0002" value='{{res.page_2}}' readonly="readonly">
                                            <input type="submit" class="page-item page-link" name="page_index_0003" id="page_index_0003" value='{{res.page_3}}' readonly="readonly">
                                            <input type="submit" class="page-item page-link" name="page_index_0004" id="page_index_0004" value='{{res.page_4}}' readonly="readonly">
                                            <input type="submit" class="page-item page-link" name="page_index_0005" id="page_index_0005" value='{{res.page_5}}' readonly="readonly">
                                            {% else %}
                                            <input type="submit" class="page-item page-link" name="page_index_0001" id="page_index_0001" value='1' readonly="readonly">
                                            <input type="submit" class="page-item page-link" name="page_index_0002" id="page_index_0002" value='2' readonly="readonly">
                                            <input type="submit" class="page-item page-link" name="page_index_0003" id="page_index_0003" value='3' readonly="readonly">
                                            <input type="submit" class="page-item page-link" name="page_index_0004" id="page_index_0004" value='4' readonly="readonly">
                                            <input type="submit" class="page-item page-link" name="page_index_0005" id="page_index_0005" value='5' readonly="readonly">
                                            {% endif %}
                                            <input type="submit" class="page-item page-link" name="page_index_next" id="page_index_next" value='>>' readonly="readonly">
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
            <div class="main row">
                <!-- <div class="col-lg-3">
                    <div class="sidebar w-50 m-auto">
                        <div class="sidebar_title_text">Categroy</div>
                    </div>
                    <ul class="list-group list-group-flush w-50 m-auto">
                        <a href="{% url 'goods' %}All/" class="list-group-item">All</a>
                        <a href="{% url 'goods' %}Bags/" class="list-group-item">Bags</a>
                        <a href="{% url 'goods' %}Mobile Accessories/" class="list-group-item">Mobile Accessories</a>
                        <a href="{% url 'goods' %}Key Chains/" class="list-group-item">Key Chains</a>
                        <a href="{% url 'goods' %}awards/" class="list-group-item">Awards</a>
                        <a href="{% url 'goods' %}Tote Bags/" class="list-group-item">Tote Bages</a>
                        <a href="{% url 'goods' %}Pens/" class="list-group-item">Pens</a>
                        <a href="{% url 'goods' %}Bottles/" class="list-group-item">Bottles</a>
                        <a href="{% url 'goods' %}Caps & Hats/" class="list-group-item">Caps & Hats</a>
                        <a href="{% url 'goods' %}Backpacks/" class="list-group-item">Backpacks</a>
                        <a href="{% url 'goods' %}Tools-Kitchen/" class="list-group-item">Tools-Kitchen</a>
                        <a href="{% url 'goods' %}Battery Rechargers & Adaptors/" class="list-group-item">Battery Rechargers & Adaptors</a>
                        <a href="{% url 'goods' %}Glasses-Drinking/" class="list-group-item">Glasses-Drinking</a>
                        <a href="{% url 'goods' %}Toys/" class="list-group-item">Toys</a>
                        <a href="{% url 'goods' %}Mugs & Steins/" class="list-group-item">Mugs & Steins</a>
                        <a href="{% url 'goods' %}Pet Items/" class="list-group-item">Pet Items</a>
                        <a href="{% url 'goods' %}Signs & Displays/" class="list-group-item">Signs & Displays</a>
                        <a href="{% url 'goods' %}Masks/" class="list-group-item">Masks</a>
                        <a href="{% url 'goods' %}Cups/" class="list-group-item">Cups</a>
                        <a href="{% url 'goods' %}Openers/" class="list-group-item">Openers</a>
                        <a href="{% url 'goods' %}Performance Apparel/" class="list-group-item">Performance Apparel</a>
                        <a href="{% url 'goods' %}computer/" class="list-group-item">Computer Accessories</a>
                        <a href="{% url 'goods' %}Led Products/" class="list-group-item">Led Products</a>
                        <a href="{% url 'goods' %}Sports Equipment & Access./" class="list-group-item">Sports Equipment & Access.</a>
                        <a href="{% url 'goods' %}Uniforms/" class="list-group-item">Uniforms</a>
                        <a href="{% url 'goods' %}Stress Relievers/" class="list-group-item">Stress Relievers</a>
                        <a href="{% url 'goods' %}Towels/" class="list-group-item">Towels</a>
                        <a href="{% url 'goods' %}Baseball Caps/" class="list-group-item">Baseball Caps</a>
                        <a href="{% url 'goods' %}Flags/" class="list-group-item">Flags</a>
                        <a href="{% url 'goods' %}Food Gifts/" class="list-group-item">Food Gifts</a>
                        <a href="{% url 'goods' %}lanyard/" class="list-group-item">Lanyards</a>
                        <a href="{% url 'goods' %}Decals/" class="list-group-item">Decals</a>
                        <a href="{% url 'goods' %}Watches/" class="list-group-item">Watches</a>
                        <a href="{% url 'goods' %}flash drives/" class="list-group-item">USB/Flash Drives</a>
                        <a href="{% url 'goods' %}Shirts/" class="list-group-item">Shirts</a>
                        <a href="{% url 'goods' %}sunglasses/" class="list-group-item">Sunglasses</a>
                        <a href="{% url 'goods' %}Wristbands/" class="list-group-item">Wristbands</a>
                        <a href="{% url 'goods' %}Gloves/" class="list-group-item">Gloves</a>
                        <a href="{% url 'goods' %}Kits/" class="list-group-item">Kits</a>
                        <a href="{% url 'goods' %}Lights/" class="list-group-item">Lights</a>
                        <a href="{% url 'goods' %}Golf Accessories/" class="list-group-item">Golf Accessories</a>
                        <a href="{% url 'goods' %}Pouches/" class="list-group-item">Pouches</a>
                        <a href="{% url 'goods' %}Jackets/" class="list-group-item">Jackets</a>
                        <a href="{% url 'goods' %}blankets/" class="list-group-item">Blankets</a>
                        <a href="{% url 'goods' %}Flashlights/" class="list-group-item">Flashlights</a>
                        <a href="{% url 'goods' %}Headphones/" class="list-group-item">Headphones</a>
                        <a href="{% url 'goods' %}Mats/" class="list-group-item">Mats</a>
                        <a href="{% url 'goods' %}Furniture/" class="list-group-item">Furniture</a>
                        <a href="{% url 'goods' %}scarves/" class="list-group-item">Scarves</a>
                        <a href="{% url 'goods' %}gift/" class="list-group-item">Gift Sets</a>
                    </ul>
                </div> -->
                <div class="col-lg-12">
                    <div id="goodsInfo">
                        <div class="row">
                            <div class="cardspad col-lg-12">
                                <div class="goodsInfoCards row">
                                    {% for good in goods %}
                                    <div class="goodsCard">
                                        <div class="goodsCardItem">
                                            <a href="{% url 'goods' %}../goodInfo/?test=a&goodid={{good.Product_Number}}">
                                                <img class="imgSize", src="{{good.Product_img}}", alt="">
                                            </a>

                                            
                                            <div>
                                                <a href="{% url 'goods' %}../goodInfo/?test=a&goodid={{good.Product_Number}}" class="cardname">{{good.Product_Name}}</a>
                                            </div>
                                            <div class="row priceidtype">
                                                <div class="col-lg-6">
                                                    <div class="cardprice">$ {{good.P1}}</div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a href="{% url 'goods' %}../goodInfo/?test=a&goodid={{good.Product_Number}}" class="cardprice">{{good.Product_Number}}</a>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="cardspad w-100 row goods_no_margin">
                                <div class="w-100 text-right row goods_no_margin">
                                    <div class="w-75 sidebar_title text-left">
                                        ALL {{res.allNum}} results, {{res.allPage}} pages
                                    </div>
                                    <div class="w-25 text-right">
                                        {% if res.page_index %}
                                        <input type="text" class="sidebar_title" name="page_index" id="page_index" value='{{res.page_index}}' readonly="readonly">
                                        {% else %}
                                        <input type="text" class="sidebar_title" name="page_index" id="page_index" value='now 1 page' readonly="readonly">
                                        {% endif %}
                                    </div>
                                    
                                </div>
                                
                                <div class="w-100 m-auto">
                                    <div class="fa-pull-right">
                                        <nav aria-label="Page navigation example goods_pagination_padding">
                                            <ul class="pagination goods_pagination_padding">
                                                <input type="submit" class="page-item page-link" name="page_index_previous" id="page_index_previous" value='<<' readonly="readonly">
                                                {% if res.page_5 %}
                                                <input type="submit" class="page-item page-link" name="page_index_0001" id="page_index_0001" value='{{res.page_1}}' readonly="readonly">
                                                <input type="submit" class="page-item page-link" name="page_index_0002" id="page_index_0002" value='{{res.page_2}}' readonly="readonly">
                                                <input type="submit" class="page-item page-link" name="page_index_0003" id="page_index_0003" value='{{res.page_3}}' readonly="readonly">
                                                <input type="submit" class="page-item page-link" name="page_index_0004" id="page_index_0004" value='{{res.page_4}}' readonly="readonly">
                                                <input type="submit" class="page-item page-link" name="page_index_0005" id="page_index_0005" value='{{res.page_5}}' readonly="readonly">
                                                {% else %}
                                                <input type="submit" class="page-item page-link" name="page_index_0001" id="page_index_0001" value='1' readonly="readonly">
                                                <input type="submit" class="page-item page-link" name="page_index_0002" id="page_index_0002" value='2' readonly="readonly">
                                                <input type="submit" class="page-item page-link" name="page_index_0003" id="page_index_0003" value='3' readonly="readonly">
                                                <input type="submit" class="page-item page-link" name="page_index_0004" id="page_index_0004" value='4' readonly="readonly">
                                                <input type="submit" class="page-item page-link" name="page_index_0005" id="page_index_0005" value='5' readonly="readonly">
                                                {% endif %}
                                                <input type="submit" class="page-item page-link" name="page_index_next" id="page_index_next" value='>>' readonly="readonly">
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    



</body>
</html>