{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JNB Promo Inc</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% if messages %}
    <script>
            alert('写入数据成功');
    </script>
    {% endif %}
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="nav ">
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}", height="60", alt="logo">
                </a>
            </li>
            <li class="nav-item navbar-brand">
                <a class="nav-link active " height="60" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item navbar-brand">
                <a class="nav-link" height="60" href="{% url 'goods' %}All/">Products</a>
            </li>
           
            <li class="nav-item navbar-brand">
                <a class="nav-link " height="60" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>

        <!-- <form method="post" class="form-inline ml-auto">
            {%csrf_token%}
            
        </form> -->
    </nav>

    <div class="accordion" id="accordionExample">
        {% if logging %}
        <div class="alert alert-success" role="alert" id="notice">
            <button class="close" type="button" data-dismiss="alert">&times;</button>
            {{ logging }}
        </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
            {%csrf_token%}
            <div class="row">
                <div class="col-lg-8">
                    <input type="file" name="excelfile">
                </div>
                <div class="col-lg-2 w-100">
                    <button class="btn btn-outline-secondary my-2 w-100" name='good_batch_upload' type="submit">批量上传数据</button>
                </div>
                <div class="col-lg-2 w-100">
                    <button class="btn btn-outline-secondary my-2 w-100" name='good_batch_delete' type="submit">批量删除数据</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <input type="text" class="form-control mr-sm-2" name="Product_Number" placeholder="请输入商品id" value='{{good_info.Product_Number}}'>
                </div>
                
                <button class="btn btn-outline-secondary my-2" name='good_search' type="submit">查询</button>
                <button class="btn btn-outline-secondary my-2" name='good_new' type="submit">新建</button>
                <button class="btn btn-outline-secondary my-2" name='good_save' type="submit">保存</button>
                <button class="btn btn-outline-secondary my-2" name='good_del' type="submit">删除</button>
            </div>
            
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                    <button class="btn btn-link w-100" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        BaseInfo
                    </button>
                    </h2>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body border-bottom py-3 ">
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Product_Name</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Product_Name" name="Product_Name" value='{{good_info.Product_Name}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Product_img</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Product_img" name="Product_img" value='{{good_info.Product_img}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>base_Product_IsHazmat</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="base_Product_IsHazmat" name="Product_IsHazmat" value='{{good_info.Product_IsHazmat}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Description</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Description" name="Description" value='{{good_info.Description}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Summary</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Summary" name="Summary" value='{{good_info.Summary}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Product_Type</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Product_Type" name="Product_Type" value='{{good_info.Product_Type}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Category</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Category" name="Category" value='{{good_info.Category}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Keywords</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Keywords" name="Keywords" value='{{good_info.Keywords}}'>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Product_Color</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Product_Color" name="Product_Color" value='{{good_info.Product_Color}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Material</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Material" name="Material" value='{{good_info.Material}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Size_Group</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Size_Group" name="Size_Group" value='{{good_info.Size_Group}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Size_Values</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Size_Values" name="Size_Values" value='{{good_info.Size_Values}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Shape</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Shape" name="Shape" value='{{good_info.Shape}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Theme</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Theme" name="Theme" value='{{good_info.Theme}}'>
                                </div>
                            </div>
                        </div>

        
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                    <button class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Imprint
                    </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body border-bottom py-3">
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Origin</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Origin" name="Origin" value='{{good_info.Origin}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Imprint_Method</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Imprint_Method" name="Imprint_Method" value='{{good_info.Imprint_Method}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Imprint_Color</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Imprint_Color" name="Imprint_Color" value='{{good_info.Imprint_Color}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Imprint_Size</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Imprint_Size" name="Imprint_Size" value='{{good_info.Imprint_Size}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Imprint_Location</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Imprint_Location" name="Imprint_Location" value='{{good_info.Imprint_Location}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Price_Includes</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Price_Includes" name="Price_Includes" value='{{good_info.Price_Includes}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Sequence</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Sequence" name="Sequence" value='{{good_info.Sequence}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Currency</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Currency" name="Currency" value='{{good_info.Currency}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Always_Free_Setup</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Always_Free_Setup" name="Always_Free_Setup" value='{{good_info.Always_Free_Setup}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Upcharge_Name</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Upcharge_Name" name="Upcharge_Name" value='{{good_info.Upcharge_Name}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Upcharge_Criteria_1</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Upcharge_Criteria_1" name="Upcharge_Criteria_1" value='{{good_info.Upcharge_Criteria_1}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Upcharge_Criteria_2</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Upcharge_Criteria_2" name="Upcharge_Criteria_2" value='{{good_info.Upcharge_Criteria_2}}'>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Upcharge_Type</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Upcharge_Type" name="Upcharge_Type" value='{{good_info.Upcharge_Type}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Upcharge_Level</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Upcharge_Level" name="Upcharge_Level" value='{{good_info.Upcharge_Level}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Service_Charge</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Service_Charge" name="Service_Charge" value='{{good_info.Service_Charge}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Upcharge_Details</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Upcharge_Details" name="Upcharge_Details" value='{{good_info.Upcharge_Details}}'>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                                <div class="col-lg-1">
                                    <h5>UQ</h5>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ1" name="UQ1" value='{{good_info.UQ1}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ2" name="UQ2" value='{{good_info.UQ2}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ3" name="UQ3" value='{{good_info.UQ3}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ4" name="UQ4" value='{{good_info.UQ4}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ5" name="UQ5" value='{{good_info.UQ5}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ6" name="UQ6" value='{{good_info.UQ6}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ7" name="UQ7" value='{{good_info.UQ7}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ8" name="UQ8" value='{{good_info.UQ8}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ9" name="UQ9" value='{{good_info.UQ9}}'>
                                </div>
                                <div class="col-lg-1">
                                    <input type="text" class="form-control input-round" placeholder="UQ10" name="UQ10" value='{{good_info.UQ10}}'>
                                </div>
                        </div>
                        
                        <div class="row m-auto text-center">
                            <div class="col-lg-1">
                                <h5>UP</h5>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP1" name="UP1" value='{{good_info.UP1}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP2" name="UP2" value='{{good_info.UP2}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP3" name="UP3" value='{{good_info.UP3}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP4" name="UP4" value='{{good_info.UP4}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP5" name="UP5" value='{{good_info.UP5}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP6" name="UP6" value='{{good_info.UP6}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP7" name="UP7" value='{{good_info.UP7}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP8" name="UP8" value='{{good_info.UP8}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP9" name="UP9" value='{{good_info.UP9}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UP10" name="UP10" value='{{good_info.UP10}}'>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="col-lg-1">
                                <h5>UD</h5>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD1" name="UD1" value='{{good_info.UD1}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD2" name="UD2" value='{{good_info.UD2}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD3" name="UD3" value='{{good_info.UD3}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD4" name="UD4" value='{{good_info.UD4}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD5" name="UD5" value='{{good_info.UD5}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD6" name="UD6" value='{{good_info.UD6}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD7" name="UD7" value='{{good_info.UD7}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD8" name="UD8" value='{{good_info.UD8}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD9" name="UD9" value='{{good_info.UD9}}'>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="UD10" name="UD10" value='{{good_info.UD10}}'>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Production_Shipping
                </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body border-bottom py-3">
                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Production_Time</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Production_Time" name="Production_Time" value='{{good_info.Production_Time}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Rush_Service</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Rush_Service" name="Rush_Service" value='{{good_info.Rush_Service}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Rush_Time</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Rush_Time" name="Rush_Time" value='{{good_info.Rush_Time}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Same_Day_Service</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Same_Day_Service" name="Same_Day_Service" value='{{good_info.Same_Day_Service}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Packaging</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Packaging" name="Packaging" value='{{good_info.Packaging}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Shipping_Items</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Shipping_Items" name="Shipping_Items" value='{{good_info.Shipping_Items}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Shipping_Dimensions</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Shipping_Dimensions" name="Shipping_Dimensions" value='{{good_info.Shipping_Dimensions}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Shipping_Weight</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Shipping_Weight" name="Shipping_Weight" value='{{good_info.Shipping_Weight}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Shipper_Bills_By</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Shipper_Bills_By" name="Shipper_Bills_By" value='{{good_info.Shipper_Bills_By}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Shipping_Info</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Shipping_Info" name="Shipping_Info" value='{{good_info.Shipping_Info}}'>
                            </div>
                        </div>
                    </div>

                    <div class="row m-auto text-center">
                        <div class="row col-lg-6 m-auto">
                            <div class="col-lg-4">
                                <h5>Free_Shipping</h5>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-round" placeholder="Free_Shipping" name="Free_Shipping" value='{{good_info.Free_Shipping}}'>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                    <button class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Price
                    </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body border-bottom py-3">
                        <div class="row m-auto text-center">
                            <div class="col-lg-1">
                                <h5>Q</h5>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q1" name="Q1" value={{good_info.Q1}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q2" name="Q2" value={{good_info.Q2}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q3" name="Q3" value={{good_info.Q3}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q4" name="Q4" value={{good_info.Q4}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q5" name="Q5" value={{good_info.Q5}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q6" name="Q6" value={{good_info.Q6}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q7" name="Q7" value={{good_info.Q7}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q8" name="Q8" value={{good_info.Q8}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q9" name="Q9" value={{good_info.Q9}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="Q10" name="Q10" value={{good_info.Q10}}>
                            </div>
                        </div>
                    
                        <div class="row m-auto text-center">
                            <div class="col-lg-1">
                                <h5>P</h5>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P1" name="P1" value={{good_info.P1}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P2" name="P2" value={{good_info.P2}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P3" name="P3" value={{good_info.P3}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P4" name="P4" value={{good_info.P4}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P5" name="P5" value={{good_info.P5}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P6" name="P6" value={{good_info.P6}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P7" name="P7" value={{good_info.P7}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P8" name="P8" value={{good_info.P8}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P9" name="P9" value={{good_info.P9}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="P10" name="P10" value={{good_info.P10}}>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="col-lg-1">
                                <h5>D</h5>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D1" name="D1" value={{good_info.D1}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D2" name="D2" value={{good_info.D2}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D3" name="D3" value={{good_info.D3}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D4" name="D4" value={{good_info.D4}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D5" name="D5" value={{good_info.D5}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D6" name="D6" value={{good_info.D6}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D7" name="D7" value={{good_info.D7}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D8" name="D8" value={{good_info.D8}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D9" name="D9" value={{good_info.D9}}>
                            </div>
                            <div class="col-lg-1">
                                <input type="text" class="form-control input-round" placeholder="D10" name="D10" value={{good_info.D10}}>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                    <button class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Other
                    </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body border-bottom py-3">
                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Distributor_View_Only</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Distributor_View_Only" name="Distributor_View_Only" value='{{good_info.Distributor_View_Only}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Carrier_Information</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Carrier_Information" name="Carrier_Information" value='{{good_info.Carrier_Information}}'>
                                </div>
                            </div>
                        </div>

                        <div class="row m-auto text-center">
                            <div class="row col-lg-6 m-auto">
                                <div class="col-lg-4">
                                    <h5>Market_Segment</h5>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control input-round" placeholder="Market_Segment" name="Market_Segment" value='{{good_info.Market_Segment}}'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</body>
</html>